.prismjs-tomorrow-night .token.comment,
.prismjs-tomorrow-night .token.block-comment,
.prismjs-tomorrow-night .token.prolog,
.prismjs-tomorrow-night .token.doctype,
.prismjs-tomorrow-night .token.cdata {
    color: #999;
}

.prismjs-tomorrow-night .token.punctuation {
    color: #ccc;
}

.prismjs-tomorrow-night .token.tag,
.prismjs-tomorrow-night .token.attr-name,
.prismjs-tomorrow-night .token.namespace,
.prismjs-tomorrow-night .token.deleted {
    color: #e2777a;
}

.prismjs-tomorrow-night .token.function-name {
    color: #6196cc;
}

.prismjs-tomorrow-night .token.boolean,
.prismjs-tomorrow-night .token.number,
.prismjs-tomorrow-night .token.function {
    color: #f08d49;
}

.prismjs-tomorrow-night .token.property,
.prismjs-tomorrow-night .token.class-name,
.prismjs-tomorrow-night .token.constant,
.prismjs-tomorrow-night .token.symbol {
    color: #f8c555;
}

.prismjs-tomorrow-night .token.selector,
.prismjs-tomorrow-night .token.important,
.prismjs-tomorrow-night .token.atrule,
.prismjs-tomorrow-night .token.keyword,
.prismjs-tomorrow-night .token.builtin {
    color: #cc99cd;
}

.prismjs-tomorrow-night .token.string,
.prismjs-tomorrow-night .token.char,
.prismjs-tomorrow-night .token.attr-value,
.prismjs-tomorrow-night .token.regex,
.prismjs-tomorrow-night .token.variable {
    color: #7ec699;
}

.prismjs-tomorrow-night .token.operator,
.prismjs-tomorrow-night .token.entity,
.prismjs-tomorrow-night .token.url {
    color: #67cdcc;
}

.prismjs-tomorrow-night .token.important,
.prismjs-tomorrow-night .token.bold {
    font-weight: bold;
}

.prismjs-tomorrow-night .token.italic {
    font-style: italic;
}

.prismjs-tomorrow-night .token.entity {
    cursor: help;
}

.prismjs-tomorrow-night .token.inserted {
    color: green;
}





/**
 * prism-one-light
 */




.prism-one-light .token.comment,
.prism-one-light .token.prolog,
.prism-one-light .token.cdata {
	color: hsl(230, 4%, 64%);
}

.prism-one-light .token.doctype,
.prism-one-light .token.punctuation,
.prism-one-light .token.entity {
	color: hsl(230, 8%, 24%);
}

.prism-one-light .token.attr-name,
.prism-one-light .token.class-name,
.prism-one-light .token.boolean,
.prism-one-light .token.constant,
.prism-one-light .token.number,
.prism-one-light .token.atrule {
	color: hsl(35, 99%, 36%);
}

.prism-one-light .token.keyword {
	color: hsl(301, 63%, 40%);
}

.prism-one-light .token.property,
.prism-one-light .token.tag,
.prism-one-light .token.symbol,
.prism-one-light .token.deleted,
.prism-one-light .token.important {
	color: hsl(5, 74%, 59%);
}

.prism-one-light .token.selector,
.prism-one-light .token.string,
.prism-one-light .token.char,
.prism-one-light .token.builtin,
.prism-one-light .token.inserted,
.prism-one-light .token.regex,
.prism-one-light .token.attr-value,
.prism-one-light .token.attr-value > .token.punctuation {
	color: hsl(119, 34%, 47%);
}

.prism-one-light .token.variable,
.prism-one-light .token.operator,
.prism-one-light .token.function {
	color: hsl(221, 87%, 60%);
}

.prism-one-light .token.url {
	color: hsl(198, 99%, 37%);
}

/* HTML overrides */
.prism-one-light .token.attr-value > .token.punctuation.attr-equals,
.prism-one-light .token.special-attr > .token.attr-value > .token.value.css {
	color: hsl(230, 8%, 24%);
}

/* CSS overrides */
.prism-one-light .language-css .token.selector {
	color: hsl(5, 74%, 59%);
}

.prism-one-light .language-css .token.property {
	color: hsl(230, 8%, 24%);
}

.prism-one-light .language-css .token.function,
.prism-one-light .language-css .token.url > .token.function {
	color: hsl(198, 99%, 37%);
}

.prism-one-light .language-css .token.url > .token.string.url {
	color: hsl(119, 34%, 47%);
}

.prism-one-light .language-css .token.important,
.prism-one-light .language-css .token.atrule .token.rule {
	color: hsl(301, 63%, 40%);
}

/* JS overrides */
.prism-one-light .language-javascript .token.operator {
	color: hsl(301, 63%, 40%);
}

.prism-one-light .language-javascript .token.template-string > .token.interpolation > .token.interpolation-punctuation.punctuation {
	color: hsl(344, 84%, 43%);
}

/* JSON overrides */
.prism-one-light .language-json .token.operator {
	color: hsl(230, 8%, 24%);
}

.prism-one-light .language-json .token.null.keyword {
	color: hsl(35, 99%, 36%);
}

/* MD overrides */
.prism-one-light .language-markdown .token.url,
.prism-one-light .language-markdown .token.url > .token.operator,
.prism-one-light .language-markdown .token.url-reference.url > .token.string {
	color: hsl(230, 8%, 24%);
}

.prism-one-light .language-markdown .token.url > .token.content {
	color: hsl(221, 87%, 60%);
}

.prism-one-light .language-markdown .token.url > .token.url,
.prism-one-light .language-markdown .token.url-reference.url {
	color: hsl(198, 99%, 37%);
}

.prism-one-light .language-markdown .token.blockquote.punctuation,
.prism-one-light .language-markdown .token.hr.punctuation {
	color: hsl(230, 4%, 64%);
	font-style: italic;
}

.prism-one-light .language-markdown .token.code-snippet {
	color: hsl(119, 34%, 47%);
}

.prism-one-light .language-markdown .token.bold .token.content {
	color: hsl(35, 99%, 36%);
}

.prism-one-light .language-markdown .token.italic .token.content {
	color: hsl(301, 63%, 40%);
}

.prism-one-light .language-markdown .token.strike .token.content,
.prism-one-light .language-markdown .token.strike .token.punctuation,
.prism-one-light .language-markdown .token.list.punctuation,
.prism-one-light .language-markdown .token.title.important > .token.punctuation {
	color: hsl(5, 74%, 59%);
}

/* General */
.prism-one-light .token.bold {
	font-weight: bold;
}

.prism-one-light .token.comment,
.prism-one-light .token.italic {
	font-style: italic;
}

.prism-one-light .token.entity {
	cursor: help;
}

.prism-one-light .token.namespace {
	opacity: 0.8;
}
